<!DOCTYPE html>
<html>
    <head>
        <title>Counter</title>
        {% load static %}
    </head>       
    <body>
        <h1>Counter</h1>
        <p>{{request.session.counter}} {{request.session.timelabel}}</p>
        <form action='/destroy_session' method='POST'>
            {% csrf_token %}
            <button type='submit'>reset</button>
        </form>
        <form action='/add2' method='POST'>
            {% csrf_token %}
            <button type='submit'>add2</button>
        </form>
    </body>

</html>
